@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

#root {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
